body {
    display: flex;
    background-color: black ;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 800px;
}

div {
    display: flex;
    background-color: blue;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100px;

}

nav {
    display: flex;
    background-color: black;
    height: 15px;
    width: 15px;
    color: blue;
    justify-content: space-around;
    align-items: center;
}

section {
    background-color: blue;
    height: 1px;
    width: 1px;
}